/*
  ========================================
  SETUP
  ========================================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Outfit";
    src: local("Outfit"),
        url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
            format("truetype");
    font-weight: 400, 600, 700;
}

@font-face {
    font-family: "Young Serif";
    src: local("Young Serif"),
        url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
            format("truetype");
    font-weight: 400;
}

/*
  ========================================
  VARIABLES
  ========================================
*/
:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

/*
  ========================================
  TYPOGRAPHY
  ========================================
*/

h1 {
    font-family: "Young Serif";
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;

    color: var(--stone-900);
}

h2 {
    font-family: "Young Serif";
    font-weight: bold;
    font-style: normal;
    font-size: 1.7rem;

    color: var(--brown-800);
}

h3 {
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2rem;

    color: var(--rose-800);
}

.normal-text {
    font-family: "Outfit", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.875rem;

    color: var(--stone-600);
}

.bold-text {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*
  ========================================
  STYLES
  ========================================
*/

body {
    text-align: center;
}

.card-header-image img {
    width: 100%;
    height: 100%;
}

.card-recipe {
    padding: 20px;
    text-align: left;
}

.card-recipe-overview {
    margin-top: 20px;
}

.card-recipe-overview-title {
    margin-bottom: 20px;
}

.card-recipe-overview-description {
    margin-bottom: 20px;
}
