/*
  ========================================
  SETUP
  ========================================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  ========================================
  VARIABLES
  ========================================
*/
:root {
    --white: hsl(0, 0%, 100%);
}

/*
  ========================================
  TYPOGRAPHY
  ========================================
*/

/*
  ========================================
  STYLES
  ========================================
*/

body {
    height: 100vh;
    width: 100vw;
}
